---
import { SITE_TITLE } from '../consts';
import HeaderLink from './HeaderLink.astro';
import ThemeIcon from './ThemeIcon.astro'; //Button per cambio tema (scuro-chiaro) //
import SocialLinks from './SocialLinks.astro';
---

<header>
	<nav>
		<h2><a href={import.meta.env.BASE_URL}>{SITE_TITLE}</a></h2>
		<div class="internal-links">
			<HeaderLink href={`${import.meta.env.BASE_URL}/`}>Home</HeaderLink>
			<HeaderLink href={`${import.meta.env.BASE_URL}/blog`}>Blog</HeaderLink>
			<HeaderLink href={`${import.meta.env.BASE_URL}/about`}>About</HeaderLink>
		</div>
		<div class="social-wrapper">
			<ThemeIcon />
			<SocialLinks />
		</div>
	</nav>
</header>
<style>
	header {
    	margin: 0;
    	padding: 0 1em;
    	background: var(--background-body, white); /* Prova a leggere la variabile, altrimenti usa white */
    	box-shadow: 0 2px 8px rgba(var(--black), 5%);
	}

	/* Modificato con Grid a 3 colonne in modo da allineare il tutto*/
	nav {
		display: grid;
		grid-template-columns: 1fr auto 1fr; /* Sinistra e destra sono uguali (1fr) */
		align-items: center;
		height: 100%;
	}

	h2 {
		margin: 0;
		font-size: 1em;
		justify-self: start; /* Spinge il titolo a sinistra */
	}

	h2 a {
		text-decoration: none;
		color: var(--black);
	}

	.internal-links {
		display: flex;
		gap: 10px; /* Spazio tra le 4 voci */
		justify-self: center; /* Centra il gruppo delle 4 voci nella colonna centrale */
	}

	.social-wrapper {
		display: flex;
		align-items: center;
		gap: 0.8em; /* Spazio tra l'icona del tema e le icone social */
		justify-self: end;
	}

	/* Stile comune per i link */
	nav a {
		padding: 1em 0.5em;
		color: var(--black);
		border-bottom: 4px solid transparent;
		text-decoration: none;
	}

	nav a.active {
		border-bottom-color: var(--accent);
	}

	/* Gestione Mobile */
	@media (max-width: 720px) {
		.social-links {
			display: none;
		}
		nav {
			/* Su schermi piccoli usiamo solo 2 colonne per dare più spazio ai link */
			grid-template-columns: 1fr auto;
		}
		.internal-links {
			justify-self: end;
		}
	}
</style>
